@font-face {
    font-family: Orbitron;
    src: url(digital-7.regular.ttf);
}
body{
    background-color: black;
    color: white;
    overflow-y: hidden;
}
#box{
    margin:100px;
}
#boxA{
    float: left;
    width: 50%;
    text-align: center;
}
#boxB{
    float: right;
    width: 50%;
    text-align: center;
}
#teamA{
    color: white;
    font-size: 400%;
    font-family: Orbitron;
    font-weight: 300;
}
#teamB{
    color: white;
    font-size: 400%;
    font-family: Orbitron;
    font-weight: 300;
}
#punkty{
    width: auto;
    clear: both;
    margin: 0px 300px 0px 300px;
    text-align: center;
}
#punktyA{
    color: yellow;
    font-size: 1200%;
    float: left;
    font-family:Orbitron;
}
#punktyB{
    color: yellow;
    font-size: 1200%;
    float: right;
    font-family:Orbitron;
}
#tables{
    text-align: center;
    clear: both;
}
td{
    border:1px yellow solid;
    height: 20px;
    width: 20px;

}
tr>td:last-child{
    border:1px red solid;
}


#timeText{
    font-family:Orbitron;
    font-weight: 200;
}
#time{
    font-family:Orbitron;
    font-weight: 200;
    font-size: 500%;
}
#tableA{
    float: left;
    text-align: center;
    width: 40%;
}#boxTime{
    float: left;
    width: 20%;
}
#tableB{
    float: right;
    text-align: center;
    width: 40%;   
}
table{
    margin: auto;
    font-size: xx-large;   
}

th{
    color:red;
}
#kwarta{
    font-family:Orbitron;
    font-weight: 200;
    font-size: 300%;
}
